body{
   
    background-image: url(../imagens/bg-footer.jpg);
    background-repeat: no-repeat;
    background-size: 100% ;
    margin: 0%;
}


/*Botão*/

.viv-btn {
    display: inline-block;
    font-family: 'Open Sans','sans-serif';
    font-style: normal;
    font-size: 1.3em;
    text-transform: uppercase;
    vertical-align: middle;
    cursor: pointer;
    padding: 8px 12px;
    background-color:  #777373;
    border: 1px solid #777373;
    color: white;
    max-width: 100%;
    text-align: center;
    line-height: 1.84em;
    margin-top: 6px;
    -moz-transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -ms-transition: all .3s ease;
    transition: all .3s ease;
}

/*Comentários*/

.viv-frm .frm-select, .viv-frm .frm-file, .viv-frm .frm-text {
    display: inline-block;
    font-family: 'Open Sans','sans-serif';
    font-style: normal;
    font-size: 1.0em;
    vertical-align: middle;
    padding: 8px 8px;
    min-height: 24px;
    background-color: #f6f6f6;
    border: 1px solid #d9d9d9;
    color: white;
    -moz-transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -ms-transition: all .3s ease;
    transition: all .3s ease;
    min-width: 48px;
    max-width: 450px;
    width: 190%;
    margin-top: 6px;
    margin-right: 12px;
    vertical-align: middle;
}

.p, li, label, input, option, td, th, dt, dd, span {
    margin-top: 12px;
    font-family: 'Open Sans','sans-serif';
    font-style: normal;
    font-size: 17.3px;
    color: white;
    line-height: 1.84em;
}